{% extends "base.html" %}
{% block content %}
{% import "makrot/lomakkeet.html" as lomakkeet %}

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

{% if virhe %}
<div class="alert alert-danger">
    {{virhe}}
</div>
{% endif %}

<h1>Luokat</h1>

<p>
    <a href="{{base_path}}/luokka/uusi" class="btn btn-success">Lisää luokka</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Lisätieto</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for luokka in luokat %}
        <tr>
            <td><a href="{{base_path}}/luokka/{{luokka.id}}">{{luokka.nimi}}</td>
            <td>{{luokka.lisatieto}}</td>
            <td>
                <a class="btn btn-default btn-sm" href="{{base_path}}/luokka/{{luokka.id}}/muokkaa">Muokkaa</a>
                {{lomakkeet.poista_nappi("#{base_path}/luokka/#{luokka.id}/poista")}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}