{% extends "base.html" %}
{% block content %}

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

{% if virhe %}
<div class="alert alert-danger">
    {{virhe}}
</div>
{% endif %}

{% if user_logged_in %}
<h1>Käyttäjän {{user_logged_in.nimi}} luokat</h1>
{% endif %}

<p>
    <a href="{{base_path}}/luokka/uusi" class="btn btn-success">Lisää luokka</a>
</p>

<ul style="font-size:125%;">
    {% for luokka in luokat %}
    <li><a href="{{base_path}}/luokka/{{luokka.id}}">{{luokka.nimi}}</li>
    {% endfor %}
</ul>

{% endblock %}