{% extends "base.html" %}
{% block content %}
<h1>Lisää luokka</h1>

{% if virheet %}
<div class="alert alert-danger">
    <ul>
        {% for virhe in virheet %}
        <li>{{virhe}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/luokka">
    <div class="form-group">
        <label class="control-label">Nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{attribuutit.nimi}}">
    </div>

    <div class="form-group">
        <label class="control-label">Lisatieto</label>
        <textarea name="lisatieto" class="form-control">{{attribuutit.lisatieto}}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
    {% endblock %}