{% extends "base.html" %}
{% block content %}
<h1>Muokkaa askaretta</h1>

{% if virheet %}
<div class="alert alert-danger">
    <ul>
        {% for virhe in virheet %}
        <li>{{virhe}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/askare/{{attribuutit.id}}/muokkaa">

    <div class="checkbox">
        <label>
            {% if valmis %}
            <input type="checkbox" name="tehty" checked>
            {% else %}
            <input type="checkbox" name="tehty">
            {% endif %}
            Tehty
        </label>
    </div>
    <div class="form-group">
        <label class="control-label">Nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{attribuutit.nimi}}">
    </div>

    <p><strong>Viikonpäivä</strong></p>
    <div>
        <label class="radio-inline">
            <input type="radio" name="paivan_indeksi" value="1" checked> Ma
        </label>
        <label class="radio-inline">
            <input type="radio" name="paivan_indeksi" value="2"> Ti
        </label>
        <label class="radio-inline">
            <input type="radio" name="paivan_indeksi" value="3"> Ke
        </label>
        <label class="radio-inline">
            <input type="radio" name="paivan_indeksi" value="4"> To
        </label>
        <label class="radio-inline">
            <input type="radio" name="paivan_indeksi" value="5"> Pe
        </label>
        <label class="radio-inline">
            <input type="radio" name="paivan_indeksi" value="6"> La
        </label>
        <label class="radio-inline">
            <input type="radio" name="paivan_indeksi" value="7"> Su
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">Luokat</label>
        <input type="text" name="luokat" class="form-control" value="{{attribuutit.luokat}}">
    </div>

    <div class="form-group">
        <label class="control-label">Lisatieto</label>
        <textarea name="lisatieto" class="form-control">{{attribuutit.lisatieto}}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
    {% endblock %}