{% extends "base.html" %}
{% block content %}
{% import "makrot/lomakkeet.html" as lomakkeet %}

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

<h1>{{askare.nimi}}</h1>

<a class="btn btn-primary" href="{{base_path}}/askare/{{askare.id}}/muokkaa">Muokkaa</a>
{{lomakkeet.poista_nappi("#{base_path}/askare/#{askare.id}/poista")}}

<ul>
    <li><strong>Tärkeysaste:</strong></li>
    <li><strong>Tilanne:</strong> 
        {% if askare.valmis %}
        <label class="label label-success">Tehty
            {% else %}
            <label class="label label-danger">Kesken
                {% endif %}
                </li>
                <li><strong>Luokat:</strong> </li>
                <li><strong>Lisätty:</strong> {{askare.lisatty}}</li>
                </ul>
                <p>{{askare.lisatieto}}</p>
                {% endblock %}