{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjän X askareet</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää askare</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Askare</th>
        <th>Deadline</th>
        <th>Tärkeysaste</th>
        <th>Tilanne</th>
        <th>Luokat</th>
        <th>Lisätty</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan askareet tähän -->
      <tr>
        <td><a href="#">Tsoha 2. dedis</a></td>
        <td>04.04.2016</td>
        <td>Erittäin tärkeä</td>
        <td><label class="label label-danger">kesken</label></td>
        <td>...</td>
        <td>14.03.2016</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}