{% extends "base.html" %}
{% block content %}
<h1>Muokkaa askaretta: Tsoha 2. dedis</h1>

<form>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Tehty
        </label>
    </div>
    <div class="form-group">
        <label>Askare</label>
        <input type="text" class="form-control" value="Tsoha 2. dedis">
    </div>
    <div class="form-group">
        <label>Tärkeysaste</label>
        <input type="text" class="form-control" value="Erittäin tärkeä">
    </div>
    <div class="form-group">
        <label>Luokat</label>
        <input type="text" class="form-control" value="...">
    </div>
    <div class="form-group">
        <label>Lisätietoa</label>
        <textarea class="form-control"> Katso vaatimukset
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}