{% extends "base.html" %}
{% block content %}
{% import "makrot/lomakkeet.html" as lomakkeet %}

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

{% if virhe %}
<div class="alert alert-danger">
    {{virhe}}
</div>
{% endif %}

<h1>Tärkeysasteet</h1>

<p>
    <a href="{{base_path}}/ta/uusi" class="btn btn-success">Lisää tärkeysaste</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Tärkeys</th>
            <th>Lisätieto</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for ta in asteet %}
        <tr>
            <td><a href="{{base_path}}/ta/{{ta.id}}">{{ta.nimi}}</a></td>
            <td>{{ta.tarkeys}}</td>
            <td>{{ta.lisatieto}}</td>
            <td>
                {{lomakkeet.muokkaa_nappi("#{base_path}/ta/#{ta.id}/muokkaa")}}
                {{lomakkeet.poista_nappi("#{base_path}/ta/#{ta.id}/poista")}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}