{% extends "base.html" %}
{% block content %}
{% import "makrot/lomakkeet.html" as lomakkeet %}

<h1>Lisää tärkeysaste</h1>

{% if virheet %}
<div class="alert alert-danger">
    <ul>
        {% for virhe in virheet %}
        <li>{{virhe}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/ta">
    <div class="form-group">
        <label class="control-label">Nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{attribuutit.nimi}}">
    </div>

    <p><strong>Tärkeys</strong></p>
    <div>
        <label class="radio-inline">
            <input type="radio" name="tarkeys" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="tarkeys" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="tarkeys" value="3" checked> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="tarkeys" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="tarkeys" value="5"> 5
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">Lisatieto</label>
        <textarea name="lisatieto" class="form-control">{{attribuutit.lisatieto}}</textarea>
    </div>

    {{lomakkeet.submit_nappi("Lisää")}}

    {{lomakkeet.peruuta_nappi("#{base_path}/ta")}}
    {% endblock %}